* {
  margin: 0;
  padding: 0;
}

.section {
    margin: 100px 135px;
}

header {
  margin: 59px 135px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

nav > ul {
  display: flex;
  list-style: none;
}

nav li a {
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  transition: .5s;
}

.toggle-btn {
    color: #141414;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

a:hover {
    color: #ff5400;
}

.nav-img {
  display: flex;
  align-items: center;
}

.nav-title {
  margin-left: 20px;
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

span {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.explore {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.explore .explore-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 106px;
}

.explore .explore-description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.input-section {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.input-btn {
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.input-btn2 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #fff;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.bx-search {
    padding-right: 5px;
}

select {
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

option {
    background: #131318;
    color: #fff;
}

.our-popular {
    display: flex;
}

.our-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.our-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 24px;
}

.ul> li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.primary-btn {
    padding: 14px 34px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.choose {
    text-align: center;
}

.maldives {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.srilanka {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.bangla {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.why {
    text-align: center;
}

.why-choose-us {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px;
}


.card h4 {
    margin-top: 32px;
}

.card p {
    margin-top: 10px;
    width: 271px;
}

@media screen and (max-width: 600px) {

    header {
        margin: 20px;
    }
    nav,
    .our-popular,
    .maldives,
    .srilanka,
    .bangla
    {
        flex-direction: column;
    }
    .explore {
        width: 100%;
    }

    .input-section {
        flex-direction: column;
    }
    .input-section {
        width: 90%;
    }

    .explore .explore-title{
        font-size: 50px;
        padding-top: 32px;
    }
    .explore .explore-description {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    select {
        width: 100%;
        height: 52px;
    }
    .input-btn, .input-btn2 {
        width: 100%;
        height: 52px;

    }

    .section {
        margin: 20px;
        padding: 20px;
    }
    .our-title {
        font-size: 20px;
    }

    .our-description, .ul {
        font-size: 16px;
    }

    .tours-img img {
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }
    .maldives, .srilanka, .bangla {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .why-choose-us {
        grid-template-columns: 1fr;

    }
    .card {
        width: 335px;
        height: 289px;
        margin: 0;
    }
}
